*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    background: url(https://user-images.githubusercontent.com/60610011/188964577-19b0774e-d93d-4089-b50f-7eeb930d93d8.png);
    --text-color: #1e292b;
    --bg-cards: #E4F2E7;
    --bg-techs: #93BFB7;
  }
  
  body{ 
    display: flex; 
  
    font-family: 'Roboto', sans-serif;
  
    color: var(--text-color);
    background-color: var(--body-bg-color);
  }
  
  main {
    display: flex;
  
    width: 100%;
  
    flex-direction: column;
  
    margin: 12.5px;
    padding: 12.5px;
  }
    main > h2, #MyProjects > div {
      border-radius: 10px;
      margin: 15px;
      padding: .5rem 1.5rem;
      background-color: var(--bg-cards);
    } 
  
    #MyProjects > div {
      display: flex;
      flex-direction: column;
      max-width: 100vw;
      height: auto;
      flex: 1;
      justify-content: space-between;
    }
      main > h2{
        padding: 1rem;
      }  
        main > div#MyProjects, samp {
          display: flex;
          flex-wrap: wrap;
        }
        .comentario {
          padding: 15px 0
        }
          div.header, .footer  {
            display: flex;
            gap: 5%;
            margin: 1rem 0 10px 0;
          }
  
          .footer {
            justify-content: space-between;
          }
  
          .star::after, .branch::after{
            content: '100';
          }
  
  
          span {
            display: flex;
            gap: 10px;
            align-items: center;
          }
  
          span > .circulo {
            width: 15px;
            height: 15px;
            background-color: gold;
            border-radius: 100%;
          }
  
  
  
  article {
    display: flex;
  
    flex-direction: column;
  }
    article > div {
      width: 16rem;
      flex-wrap: wrap;
      
      margin: 1rem .6rem;
      padding: 1rem;
      border-radius: 15px;
  
      background-color: var(--bg-cards);
    }
      article > div > h2, h3 {
        padding: 0 125px 15px 0;
      }
        article > div > ul,li, a {
          list-style: none;
          text-decoration: none;
          color: var(--text-color);
        }
  
  
  /* Perfil */
  #profile{
    margin-top: 2rem;
    
    text-align: center;
  }
    #profile > img {
      width: 170px;
  
      margin: 15px auto;
  
      border-radius: 100%;
      border: solid 4px rgb(196, 47, 255);
    }
      #profile > h1 {
        font-size: 2rem;
      }
      #profile > p {
        font-size: .9rem;
        font-family: 'Roboto mono', monospace;
      }
  
    
  /* Navegação entre Links */
    #nav li, a {
      display: flex;
  
      width: 100%;
      height: 50px;
      padding: 5px 10px;
      margin: 10px 0; 
  
      align-items: center;
      gap: 10px;
  
      cursor: pointer;
      border-radius: 9px;
  
      background-color: var(--bg-techs);
    }
  
  
  /* #technology */
  #technology{
    text-align: center; 
  }
    #technology > img{
      width: 45px;
  
      margin: 5px;
  
      cursor: pointer;
    }
  
  
  /* Experiencia */
  #xp > p {
    padding: 5px 10px;
  }
  
  
  /* Escolariedade e conhecimento */
  #school h4 {
    margin: 5px 0 5px -10px;
  }
    #school ul > li {
      padding: 5px 0 0 15px;
      font-family: 'Roboto Mono', monospace;
    }
  
    
    
    @media only screen and (max-width: 820px) {
      body {
        flex-wrap: wrap;
      }
  
      article {
        display: flex;
  
        padding: 1rem;
  
        flex-direction: row;
        flex-wrap: wrap;
  
        justify-content: space-evenly;
      }
  
      article > div {
        width: 40%;
      }
  
      #nav {
        margin-top: 2rem;
      }
  
      #school{
        width: 88%;
      }
    }
  
    @media only screen and (max-width: 590px) {
      article > div {
        width: 90%;
      }
      #technology{
        text-align: center; 
      }
      #MyProjects > div.projetos {
        height: auto;
      }
      .projetos .footer, span {
        display: flex;
        flex-wrap: wrap;
        margin: 0 5px;
      }
      #technology > h3 {
        margin-left: 10px;
        text-align: left;
      }
      #school{
        width: 90%;
      }
    }